@import 'base/home.scss' ;
@import 'base/flexboxlataycontroles';

@import 'components/header' ;

@import 'base/cuerpo';
@import 'base/variables';

@import 'components/footer';

@import 'components/brewery';

@import 'base/contact.scss';

@import 'components/aboutUs';

@import 'base/backgroundanimation.scss';

